<h1>About</h1>

<p style="font-size: 16px; color: #00bbff; text-align: center;"><a ng-href="/">&larr; back to index</a></p>

<div class="full-page-padding">

<h3>Can I upload a comic?</h3>
We don't allow users to upload stuff themselves. We want this site to have only "quality" comics. If we allowed uploading by anyone, all sorts of stuff would end up here.

<h3>General feedback / questions</h3>
General feedback about the website, comics on it, or related things, is greatly appreciated and can be submitted <a ng-href="/contact">here</a>. If you have any questions about the website, again, hit us up <a ng-href="/contact">over here</a>.

<h3>You don't have all the comics!</h3>
Sadly, no. We try not to illegally host any copyrighted content on our website. When we find more comics and have time, we add them to our collection.

<h3>Cookies</h3>
This site uses cookies to enhance your experience.

<h3>Copyrighted content</h3>
We have tried our best to avoid hosting content that is copyrighted. If you are the owner of any comic being displayed on this website, contact us <a ng-href="/contact">here</a>. Please include some proof that you are indeed the owner of the artwork in question. 
