{{now}}
<br/><br/>
<table>
  <tr ng-repeat="approval in approvals">
    <td style="padding: 5px 10px">{{approval.Name}}</td>
    <td style="padding: 5px 10px">{{approval.Keyword}}</td>
    <td style="padding: 5px 10px">{{approval.Extension ? 'Add' : 'Delete'}}</td>
    <td style="padding: 5px 10px">{{approval.Approved}}</td>
    <td style="padding: 5px 10px">{{approval.Moderator}}</td>
    <td style="padding: 5px 10px">{{approval.User}}</td>
    <td style="padding: 5px 10px">{{approval.Timestamp}}</td>
  </tr>
</table>

<hr/>
<hr/>

<table>
  <tr ng-repeat="log in logs"> 
    <td style="padding: 5px">{{log.Username}}</td>
    <td style="padding: 5px">{{log.ComicName}}</td>
    <td style="padding: 5px">{{log.Timestamp}}</td>
  </tr>
</table>
