<p class="theme-p" style="position: absolute; top: 0; right: 0;">
    <span class="link-color brightness-button" ng-click="setBrightColors(true)">Bright</span> | <span class="link-color brightness-button" ng-click="setBrightColors(false)">Dark</span>
</p>

<h1 class="brand-logo">Yiffer.xyz</h1>
<h2>A collection of high-quality comics (<a ng-href="/about">info</a>)</h2>

<p class="introP">
    {{loggedin ? 'Welcome, ' + username + '!' : 'You are not logged in, so you can\'t vote!'}}
    &nbsp;
    <a ng-click="openLoginModal()" class="loginLink">{{loggedin ? 'Log out' : 'Log in'}}</a>
</p>

<p style="text-align: center;" class="mobile-padding"><span class="rainbow2">Donate?</span> <a ng-href="/donate">Check it out</a>~</p>

<div class="poll-div" ng-if="pollQuestions.length>0 && !pollHidden">
    <p style="text-align: center;">We're in the process of redesigning this website.
        Care to answer {{pollQuestions.length==1 ? 'this one question' : 'these '+pollQuestions.length+' questions'}} and help out?</p>
    <p ng-click="dismissPoll()" class="link-color">Dismiss</p>

    <div ng-repeat="question in pollQuestions" class="poll-question">
        <p class="question-header">{{question.title}}</p>
        <div class="question-answer-container">
            <div ng-repeat="answer in question.answers"
                ng-class="{'selected-answer': answer.isSelected, 'answer': true}"
                ng-click="setSelectedAnswer(question, answer)">
                {{answer.text}}
            </div>
        </div>
    </div>

    <button ng-click="submitPoll()" class="comic-vote-or-login" style="margin-top: 8px;">Submit</button>
</div>

<div id="modal-overlay"></div><!-- the overlay element -->
<div class="modal" id="modal-1">
    <div class="modal-content">
        <h3>{{modalLogin ? 'Log in' : 'Register'}}</h3>
        <div class="form-content">

            <p class="modal-error" ng-show="showModalErrorMessage">{{modalErrorMessage}}</p>

            <form id="loginForm" autocomplete="off">
            <span id="usernameInputContainer" class="input input-nice removeFromThis">
                <input class="input-field input-field-nice" type="text" ng-model="modalUsername" id="inputUsername" autocomplete="off" autocorrect="off" autocapitalize="off"/>
                <label class="input-label input-label-nice" for="inputUsername" id="inputLabelUsername">
                    <span class="input-label-content input-label-content-nice">Username</span>
                </label>
            </span> <br/>
            <span id="passwordInputContainer" class="input input-nice input-password removeFromThis">
                <input class="input-field input-field-nice" type="password" ng-model="modalPassword" id="inputPassword" autocomplete="off" />
                <label class="input-label input-label-nice" for="inputPassword" id="inputLabelPassword">
                    <span class="input-label-content input-label-content-nice">Password</span>
                </label>
            </span>
            <br/>
            <button type="submit" class="input-button-primary" ng-click="fireLoginOrRegister()">{{modalLogin ? 'Log in' : 'Register'}}</button>
            <button class="input-button-faded" ng-click="modalLogin = !modalLogin">{{modalLogin ? 'Register' : 'Log in'}}</button>
            <!-- ex- ng-click="switchLoginRegister()" TODO remove -->
            </form>
            <button id="closeLoginModalButton" class="modal-close input-button-faded">Close</button>
        </div>
    </div>
</div>


<div class="modal" id="modal-2">
    <div class="modal-content">
        <h3>{{voteForComic.name}}</h3>
        User rating: {{voteForComic.userRating}}<br/><br/>
        <p ng-show="voteForComic.yourRating > 0" ng-click="sendVote(voteForComic, 0)" class="link-color">delete vote</p>

        <div class="flex-votenumbers">
            <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" class="vote-number-div" ng-class="{'vote-active': colorVoteSquares >= i}" ng-click="sendVote(voteForComic, i)" ng-mouseover="voteModalMouseover(i)" ng-mouseleave="voteModalMouseout()">
                {{i}}
            </div>
        </div>

    </div>
</div>


<div ng-show="comicsMode">

<div id="buttonsDiv">

    <table class="buttonContainingTable"><tr>
        <td class="tagButt butt" id="tagAllB"   ng-click="setFilter('tag', 'All')"      ng-class="{'selected': tag.all}">
            <p id="allTextTag" class="buttText">All</p> </td>
        <td class="tagButt butt" id="furryB"    ng-click="setFilter('tag', 'Furry')"    ng-class="{'selected': tag.list.indexOf('Furry') >= 0}">
            <p class="buttText">Furry</p>               </td>
        <td class="tagButt butt" id="mlpB"      ng-click="setFilter('tag', 'MLP')"      ng-class="{'selected': tag.list.indexOf('MLP') >= 0}">
            <p class="buttText">MLP</p>                 </td>
        <td class="tagButt butt" id="pokemonB"  ng-click="setFilter('tag', 'Pokemon')"  ng-class="{'selected': tag.list.indexOf('Pokemon') >= 0}">
            <p class="buttText">Pokemon</p>             </td>
        <td class="tagButt butt" id="wowB"      ng-click="setFilter('tag', 'Warcraft')"      ng-class="{'selected': tag.list.indexOf('Warcraft') >= 0}">
            <p class="buttText">Warcraft</p>            </td>
        <td class="tagButt butt" id="otherB"    ng-click="setFilter('tag', 'Other')"    ng-class="{'selected': tag.list.indexOf('Other') >= 0}">
            <p class="buttText">Other</p>               </td>
    </tr></table>

    <table class="buttonContainingTable"><tr>
        <td class="tagButt butt" id="catAllB"   ng-click="setFilter('cat', 'All')"      ng-class="{'selected': cat.all}">
            <p id="allTextTag" class="buttText">All</p> </td>
        <td class="catButt butt"                ng-click="setFilter('cat', 'M')"        ng-class="{'selected': cat.list.indexOf('M') >= 0}">
            <p class="buttText">M</p>       </td>
        <td class="catButt butt"                ng-click="setFilter('cat', 'F')"        ng-class="{'selected': cat.list.indexOf('F') >= 0}">
            <p class="buttText">F</p>       </td>
        <td class="catButt butt"                ng-click="setFilter('cat', 'MF')"       ng-class="{'selected': cat.list.indexOf('MF') >= 0}">
            <p class="buttText">MF</p>      </td>
        <td class="catButt butt"                ng-click="setFilter('cat', 'MM')"       ng-class="{'selected': cat.list.indexOf('MM') >= 0}">
            <p class="buttText">MM</p>      </td>
        <td class="catButt butt"                ng-click="setFilter('cat', 'FF')"       ng-class="{'selected': cat.list.indexOf('FF') >= 0}">
            <p class="buttText">FF</p>      </td>
        <td class="catButt butt"                ng-click="setFilter('cat', 'MF+')"      ng-class="{'selected': cat.list.indexOf('MF+') >= 0}">
            <p class="buttText">MF+</p>     </td>
        <td class="catButt butt"                ng-click="setFilter('cat', 'I')"        ng-class="{'selected': cat.list.indexOf('I') >= 0}">
            <p class="buttText">I</p>       </td>

    <table style="margin-bottom: 3px;"><tr>
        <td class="searchTd" id="searchArtistTd">
            <div class="searchDiv">
                <span class="input input-search"  ng-class="{'input--filled': searchInput}">
                    <input class="input-field input-field-search" ng-model="searchInput" id="searchKeywordInput" type="text" ng-focus="hasFocusedSearchBar = true"/>
                    <label class="input-label input-label-search" for="searchArtist">
                        <span class="input-label-content input-label-content-search">
                            Type for suggestions, separate with ;
                        </span>
                    </label>
                </span>
            </div>
        </td>
    </tr>
    <tr>
      <td style="text-align: left; display: flex; flex-flow: row wrap; overflow: hidden;" ng-class="{'show-more-tags': hasFocusedSearchBar, 'show-fewer-tags': !hasFocusedSearchBar}">
        <div ng-repeat="tag in suggestedTags track by $index" class="tag-suggestion" ng-click="selectTag(tag)">
          {{tag.name}} ({{tag.count}})
        </div>
      </td>
    </tr>
    </table>



    <table class="buttonContainingTable"><tr id="sorttr">
        <td class="sortButt butt" id="dateButt" ng-click="setSort('Recently added')" ng-class="{'selected': sort == 'id'}">
            <p class="buttText">Recently updated</p>
        </td>
        <td class="sortButt butt" id="userRatinggButt" ng-click="setSort('User rating')" ng-class="{'selected': sort == 'userRating'}">
            <p class="buttText">User rating</p>
        </td>
        <td class="sortButt butt" id="yourRatingButt" ng-click="setSort('Your rating')" ng-class="{'selected': sort == 'yourRating'}">
            <p class="buttText">Your rating</p>
        </td>
    </tr></table>
</div>

<div style="text-align: center;">
    <table class="bigSmallButtTable buttonContainingTable hide-when-mobile" style="margin-right: 40px;">
        <tr>
            <td class="butt" ng-class="{'selected': thumbSizes == 'big'}" ng-click="setThumbSizes('big')">
                <p class="buttText">Big</p>
            </td>
            <td class="butt" ng-class="{'selected': thumbSizes == 'small'}" ng-click="setThumbSizes('small')">
                <p class="buttText">Small</p>
            </td>
        </tr>
    </table>

    <table class="bigSmallButtTable buttonContainingTable" style="margin-right: 40px;">
        <tr>
            <td class="butt" ng-class="{'selected': showKeywords}" ng-click="setShowKeywords(true)">
                <p class="buttText">Show tags</p>
            </td>
            <td class="butt" ng-class="{'selected': !showKeywords}" ng-click="setShowKeywords(false)">
                <p class="buttText">Hide tags</p>
            </td>
        </tr>
    </table>
</div>

<div style="text-align: center; margin-top: 5px;" id="comicsAnchor">
    <table class="bigSmallButtTable buttonContainingTable" style="margin-right: 40px;">
        <tr>
            <td class="butt" ng-click="prevPage()" ng-class="{'disabled-butt': currentPage==1}">
                <p class="buttText">&larr;</p>
            </td>
            <td ng-repeat="i in pageNumberArray" class="butt" ng-class="{'selected': currentPage==i}" ng-click="setPage(i)">
                <p class="buttText">{{i}}</p>
            </td>
            <td class="butt" ng-click="nextPage()" ng-class="{'disabled-butt': currentPage == pageNumberArray[pageNumberArray.length-1]}">
                <p class="buttText">&rarr;</p>
            </td>

        </tr>
    </table>
</div>

<div id="container" style="text-align: center">
<div id="imagesDiv">
    <div class="thumbContainer"
        ng-repeat="co in shownComicsList"
        ng-class="{'dark-colors': !brightColors, 'smallThumbContainer': thumbSizes=='small'}">

        <a ng-href="/{{co.name}}">
            <img class="comicThumbImg" ng-src="comics/{{co.name}}/s.jpg" ng-class="comicThumbImgStyle"/>
        </a>
        <a ng-href="/{{co.name}}">
            <p class="comicNameP" ng-class="{'comicNameP-small': smallThumbs, 'dark-text': brightColors, 'bright-text': !brightColors}">{{co.name}}</p>
        </a>
        <a class="comicArtistP" ng-class="{'comicArtistP-small': smallThumbs}" ng-href="/artist/{{co.artist}}">{{co.artist}}</a>
        <p class="comicRatingP" ng-show="!smallThumbs"">
            rating: {{co.userRating}} &nbsp;&nbsp; pages: {{co.numberOfPages}}
            <span class="wip-text-large"       ng-show="isNewComic(co)">&nbsp;&nbsp;NEW</span>
            <span class="wip-text-large" ng-show="co.finished!=1 && !isNewComic(co)">&nbsp;&nbsp;WIP</span>
        </p>
        <p class="comicRatingP-small" ng-show="smallThumbs" ng-hide="!smallThumbs">
            &#9734;:{{co.userRating}}&nbsp;&nbsp; &#128214;:{{co.numberOfPages}}
            <span class="wip-text" ng-show="isNewComic(co)">&nbsp;NEW</span>
            <span class="wip-text" ng-show="co.finished!=1 && !isNewComic(co)">&nbsp;WIP</span>
        </p>

        <p class="comicRatingPSmall">
            &#9734;{{co.userRating}}&nbsp;&nbsp;&#128214;{{co.numberOfPages}}&nbsp;
            <span class="wip-text" ng-show="isNewComic(co)">NEW</span>
            <span class="wip-text" ng-show="co.finished!=1 && !isNewComic(co)">WIP</span>
        </p>

        <!-- <button ng-show="!loggedin" ng-click="openLoginModal()" class="comic-vote-or-login">Log in to vote</button> -->
        <button ng-show="loggedin"  ng-click="comicVote(co)" class="comic-vote-or-login">
            <span ng-show="co.yourRating > 0 " style="display:flex; align-items:center;">
                you:<p>&nbsp;<b><span style="font-size: 15px">{{co.yourRating}}</span></b></p>
            </span>
            <span ng-show="co.yourRating <= 0">
                vote
            </span>
        </button>

        <p ng-show="showKeywords" style="font-size: 12px; font-weight: 300;">
          <span ng-repeat="keyword in co.keywords" ng-click="selectTag({name: keyword})" class="hover-cursor-pointer hover-link-color">{{keyword}} &nbsp;</span>
          <!-- {{(co.keywords).join(', ')}} -->
        </p>
    </div>
</div>
</div>

<!-- ############### Page navigation table bottom ##############  -->
<div style="text-align: center; margin-top: 15px; margin-bottom: 10px;">
    <table class="bigSmallButtTable buttonContainingTable" style="margin-right: 40px;">
        <tr>
            <td class="butt" ng-click="prevPage(true)" ng-class="{'disabled-butt': currentPage==1}">
                <p class="buttText">&larr;</p>
            </td>
            <td ng-repeat="i in pageNumberArray" class="butt" ng-class="{'selected': currentPage==i}" ng-click="setPage(i, true)">
                <p class="buttText">{{i}}</p>
            </td>
            <td class="butt" ng-click="nextPage(true)" ng-class="{'disabled-butt': currentPage == pageNumberArray[pageNumberArray.length-1]}">
                <p class="buttText">&rarr;</p>
            </td>

        </tr>
    </table>
</div>

</div>
<footer class="footer">
    <a ng-href="/about">Info/ToS/ToU</a>
</footer>