<p class="theme-p" style="position: absolute; top: 0; right: 0;">
    <span class="link-color brightness-button" ng-click="setBrightColors(true)">Bright</span> | <span class="link-color brightness-button" ng-click="setBrightColors(false)">Dark</span>
</p>

<h1>Yiffing time!</h1>

    <table class="buttonContainingTable"><tr id="sorttr">

        <td class="sortButt butt" id="dateButt"             ng-click="setSort('date')" style="padding: 25px;"
                    ng-class="{'selected': sort == 'id'}">        
            <p class="buttText">Order by added date</p>           </td>

        <td class="sortButt butt" id="userRatinggButt"      ng-click="setSort('rating')" style="padding: 25px;"
                    ng-class="{'selected': sort == 'userRating'}"> 
            <p class="buttText">Order by rating</p>              </td>
    </tr></table>
</div> 


<div>
  <p><b>Rules: </b> ratings of pics can only be modified for a couple of months after they're added. This means that many of the old pics that I <i>don't</i> find that hot anymore, will still have a score reflecting their hotness at the time. 
</div>


<div id="container" style="text-align: center">
<div id="imagesDiv">
    <div style="padding: 5px;" 
        ng-repeat="co in comicList | orderBy:sortComics"
        ng-class="{'dark-colors': !brightColors}">

        <a ng-href="{{'images/big/' + co.id + '.jpg'}}" target="_blank">  
            <img ng-src="{{'images/thumbs/' + co.id + '.jpg'}}" ng-class="comicThumbImgStyle"/>
        </a>
        <p class="comicRatingP" style="display: inherit;">
            <b>{{co.rating}}</b>
        </p>
        <p class="comicRatingP" style="display: inherit;">
            {{nicer(co.added)}}
        </p>
    </div>
</div>
</div>
</div>
<footer class="footer">
    <a ng-href="/about">Info/ToS/ToU</a>
</footer>
