
<h1>The spank bank tm</h1>
<p ng-click="editMode = !editMode" style="text-align: center;" class="link-color">Toggle edit mode</p>
<p ng-click="sortDate()" style="text-align: center;" class="link-color">Sort by date</p>
<p ng-click="sortRating()" style="text-align: center;" class="link-color">Sort by rating</p>
<p ng-click="togglePp()" style="text-align: center;" class="link-color">Toggle ppp</p>
<p ng-click="showIds = !showIds" style="text-align: center;" class="link-color">Toggle ids</p>

<span >
	<p style="margin: 2px 30px;">Rule, starting in 2019: Each month may have a max of <b>8</b> images.</p>
	<p style="margin: 2px 30px;">Images found one month may be uploaded the next month if the 8 slots for the current month are filled.</p>
	<br/>
	<p style="margin: 2px 30px;">Rule: Rating can be increased for any image at any time, but can only be decreased up to 6 months from the added date. This is to preserve some sense of how "good" it was during the time it was most relevant.. or something like that.</p>
  
  <!-- <table>
    <tr>
      <th>Month</th>
      <th># of images</th>
    </tr>
    <tr ng-repeat="data in monthCounts">
      <td>{{monthNumberToString(data.month)}} {{data.year}}</td>
      <td>{{data.count}}</td>
    </tr>
  </table> -->
</span>

<div class="ragListContainer" style="margin-top: 20px;">
  <div ng-repeat="image in imageList track by $index" class="ragListThumb" ng-if="!pp || image.pp">
    <a ng-href="{{'listRagImages/thumbs/' + image.id + '.jpg'}}" target="_blank">
      <img ng-src="{{'listRagImages/big/' + image.id + '.jpg'}}"/ ng-click=logClick(image.id)>
    </a>
    <p><b>{{image.rating}}</b></p>
    <p>{{image.artist}}</p>
    <p>{{image.added}}</p>
    <p ng-show="showIds" style="font-family: Consolas">id-{{image.id}}</p>
    <div style="display: flex; flex-direction: row;" ng-show="editMode">
      <input ng-model="image.newRating" style="width: 35px;"/>
      <button ng-click="assignRating(image)">OK</button>
    </div>
  </div>
</div>  
