
<h1>The spank bank tm</h1>
<p style="margin: 20px auto; max-width: 70%; text-align: center;">Rule: Rating can be increased for any image at any time, but can only be decreased up to 6 months from the added date. This is to preserve some sense of how "good" it was during the time it was most relevant.. or something like that.</p>

<p style="text-align: center; font-weight: bold;">Style explanation:</p>
<span style="display: flex; flex-direction: row; justify-content: center;" class="style-explanation">
  <div class="ragListThumb old-thumb">This is an image older than 6 months. Will mostly keep its rating, can only increase.</div>
  <div class="ragListThumb medium-thumb">This is an image younger than 6 months. Rating can and probably will change.</div>
  <div class="ragListThumb ending-thumb">This is an image in its last month of being editable, and will become "permanent" like the first style next month.</div>
  <div class="ragListThumb new-thumb">Finally, this is a fresh image that's been added this month.</div>
</span>

<div class="list-rag-buttons">
  <button class="resize-button" ng-click="toggleEditMode()" ng-if="isAdmin==true">Toggle edit mode</button>
  <button class="resize-button" ng-click="sortDate()">Sort by date</button>
  <button class="resize-button" ng-click="sortRating()">Sort by rating</button>
  <button class="resize-button" ng-click="sortComeCount()">Sort by cum count</button>
  <button class="resize-button" ng-click="toggleAddImage()" ng-if="isAdmin==true">+ New image</button>
</div>

<div ng-show="addImageMode" style="display: flex; flex-direction: column;">
  <div >
    <form>
      <button ngf-select ng-model="newImage" name="uploadNewPageFile" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB" class="button-neutral">Select file</button>
    </form>
  </div>
  <table>
    <tr>
      <td>Artist</td>
      <td><input type="text" ng-model="newImageArtist"/></td>
    </tr>
    <tr>
      <td>Rating</td>
      <td><input type="number" ng-model="newImageRating"/></td>
    </tr>
    <tr>
      <td>Added</td>
      <td><input type="date" ng-model="newImageAdded"/></td>
    </tr>
    <tr>
      <td>Ppp</td>
      <td><input type="number" ng-model="newImagePpp"/></td>
    </tr>
  </table>
  <div class="mod-panel-flexbox-small-vertical">
    <button ng-show="newImage" ng-click="uploadImage()" class="button-green">
      Submit {{newImage.name}}
    </button>
  </div>
</div>

<div class="list-rag-buttons" style="margin: 0;">
    <button ng-if="!recordingCome" class="resize-button" ng-click="toggleRecordComeClick()"
            style="background-color: #ee1185; color: white; padding: 10px 20px;">
      Record CUMMING to an image!</button>
    <p ng-if="recordingCome">Allright, click the image you came to! Or
      <button class="resize-button" ng-click="toggleRecordComeClick()">cancel</button></p>
</div>

<div class="ragListContainer" style="margin-top: 20px;">
  <div ng-repeat="image in imageList track by $index" ng-click="comeImageClicked(image)" 
       ng-class="[image.thumbClass, {'ragListThumb': true, 'thumbComeClicked': currentComeConfirmImage==image, 'ragListThumbPointer': recordingCome}]"
       ng-if="!pp || image.pp">
    <a ng-href="{{'listRagImages/thumbs/' + image.id + '.jpg'}}" target="_blank" ng-if="!recordingCome">
      <img ng-src="{{'listRagImages/big/' + image.id + '.jpg'}}" ng-click="logClick(image.id)">
    </a>

    <img ng-src="{{'listRagImages/big/' + image.id + '.jpg'}}" ng-if="recordingCome">

    <p style="margin-top: 3px; font-size: 18px;"><b>{{image.rating}}</b></p>
    <p>Cum count: {{image.comeCount || 0}}</p>
    <p style="font-size: 12px;">{{image.artist}}</p>
    <p style="font-size: 12px;">{{image.added}}</p>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top:2px" ng-if="editMode">
      <input ng-model="image.newRating" style="width: 35px;"/>
      <button class="resize-button" ng-click="assignRating(image)" style="margin-top:1px;">OK</button>
      <button class="resize-button" ng-click="deleteImage(image)" style="margin-top:4px;">Delete image</button>
    </div>

    <div ng-if="currentComeConfirmImage==image && recordingCome" 
         style="display: flex; flex-direction: column; align-items: center;">
      <button ng-click="confirmCome(image)" class="resize-button" style="background-color: #ee1185; margin: 16px 0;">
        CONFIRM cum<br/>as {{username}}</button>
    </div>
  </div>
</div>  
