<h1>Contact</h1>

<p style="font-size: 16px; color: #00bbff; text-align: center;"><a ng-href="/">&larr; back to index</a></p>

<div class="full-page-padding">

<h3>Submit feedback or ask for support</h3>
<textarea ng-show="!hideThings" ng-model="contactContent" style="width: 100%"> </textarea> <br/>
<button ng-show="loggedin && !hideThings" ng-click="submitFeedback()" class="resize-button" style="width: 150px; height: 50px; background-color: #42773a;">Submit</p></button>
<p ng-show="!loggedin">You must be logged in to submit.</p>
<p ng-show="hideThings">Success! Thank you.</p>