<h1>Donate</h1>

<p style="font-size: 16px; color: #00bbff; text-align: center;"><a ng-href="/">&larr; back to index</a></p>

<div class="full-page-padding">

<h3>Why?</h3>
As you may have noticed, this website does not have any ads. This is because we want to provide you with the best possible browsing experience. This also means that we do not make any money in any way. Hosting this website definitely isn't free, and it has been funded by one owner's pocket money from day one. If you are a frequent user of this site and feel like we're worth it, please consider helping out with a few bucks!

<h3>How will donations affect the website overall?</h3>
The intention is to cover some of the costs of running the site. Current expenses are hosting on DigitalOcean, Cloudflare's CDN, and an annual domain fee. These are being covered by the site owner alone.

<h3>What do I get?</h3>
Aside from our deepest gratitude, if you donate $3 or more, you'll be able to download individual comics with the simple click of a button!

<h3>How to donate</h3>
Paypal! We previously used ko-fi until the account was suspended for being related to adult content. It seems Paypal is the only reliable option left. We know many people don't like Paypal, sorry!
<ul>
  <li>Donate $3 or more to gain access to downloading comics!</li>

	<li>If you'd like to donate with cryptocurrency or any other form of payment, please send an email to "malann.sjakk@gmail.com".</li>

	<li>If you do want the download privilege, please include your username in the message box. It won't be instant, but you should be able to download within 24 hours.</li>

	<li>If you do want the download benefit immediately, you may include the exact following text in the message: <pre> yiffer-user=yourUsername </pre> (your own username replaces 'yourUsername'). Make sure to have spaces on both sides of this snippet in your message. Also make sure there are no spaces on either side of the equals sign. You can of course still add any other message if you'd like.</li>
</ul>
<div class=btn-container style="width:100%; margin-top: 15px;"><a title="Support me on PayPal" class="kofi-button" style="background-color:#ee1185; width:100%;" href="https://www.paypal.me/yifferxyz" target="_blank"> <span class="kofitext"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" class="kofiimg"/>Help us out!</span></a></div>

<h3>I have donated. How do I download?</h3>
Simple! You click a comic, and then hit the "download comic" button located below the title and artist name. You must be logged in for the button to appear.
If you have donated and suspect that something is wrong, please send an email to malann.sjakk@gmail.com. Please note that it might take up to 24 hours for your downloading privileges to appear.

<br/>
If you have donated and suspect that something is wrong, please send an email to <a href="mailto:malann.sjakk@gmail.com" target="_top">malann.sjakk@gmail.com</a>. 

</div>