<h1>Donate</h1>

<p style="font-size: 16px; color: #00bbff; text-align: center;"><a ng-href="/">&larr; back to index</a></p>

<div class="full-page-padding">

<h3>Why?</h3>
As you may have noticed, this website does not have any ads. This is because we want to provide you with the best possible browsing experience. This also means that we do not make any money in any way. Hosting this website definitely isn't free, and it has been funded by one owner's pocket money from day one. If you are a frequent user of this site and feel like we're worth it, please consider helping out with a few bucks!

<h3>How will donations affect the website overall?</h3>
It depends on the total amount donated. The intention is really just to cover some of the costs of running the site. If we gather a sufficient amount of money, however, we'll definitely consider upgrading our website in various ways. We'd love to, but currently it's a little too expensive. 

<h3>What do I get?</h3>
Aside from our deepest gratitude, if you donate $2 or more, you'll be able to download individual comics with the simple click of a button!

<h3>How to donate</h3>
We use Ko-Fi, the button is below! Ko-Fi is really simple, and it goes through PayPal. We know some people dislike PayPal, but it is still by far the easiest solution for us, sorry! Here are additional details:
<ul>
	<li>Donate $2 or more to gain access to downloading comics!</li>
	<li><b>Include your yiffer.xyz username</b> in the "message" box! You may write any message you desire, but please include your username somewhere in it.</li>
  <li>Make sure the username you write is correct!</li>
	<li>The mods will regularly check the donations received page and give $2+ donators their downloading privelige, but it won't happen <i>immediately</i>. Unless:</li>
	<li>If you do want the download benefit immediately, you may include the exact following text in the message: <pre> yiffer-user=yourUsername </pre> (your own username replaces 'yourUsername'). Make sure to have spaces on both sides of this snippet in your message. Also make sure there are no spaces on either side of the equals sign. You can of course still add any other message if you'd like.</li>
  <li>If you have trouble using Ko-Fi, you may send money directly via <i><b>PayPal</b></i> to "malann.sjakk@gmail.com", but we'd prefer Ko-Fi.
  <li>Alternatively, if you'd like to donate with <i><b>cryptocurrency</b></i>, we're also open for that. Please send an email to "malann.sjakk@gmail.com".
</ul>
<div class=btn-container style="width:100%; margin-top: 15px;"><a title="Support me on ko-fi.com" class="kofi-button" style="background-color:#ee1185; width:100%;" href="http://ko-fi.com/S6S15J5M" target="_blank"> <span class="kofitext"><img src="https://ko-fi.com/img/cuplogo.svg" class="kofiimg"/>Help us out!</span></a></div>

<h3>I have donated. How do I download?</h3>
Simple! You click a comic (for example <a ng-href="/Predators of Kilimanjaro">Predators of Kilimanjaro</a>), and then hit the "download comic" button located below the title and artist name. You must be logged in for the button to appear.<br/>
If you have donated and suspect that something is wrong, please send an email to <a href="mailto:malann.sjakk@gmail.com" target="_top">malann.sjakk@gmail.com</a>. 

</div>