<h1>Our beloved mods!</h1>

<hr/>
<div ng-repeat="mod in mods">
<hr/>
    <h2 style="font-weight: bold;">{{hotfixUsername(mod.username)}}</h2>
    <h3 style="font-weight: bold; text-align: center;">Favorite images</h3>

    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">

        <div ng-repeat="img in mod.favImages">
            <a href="/mod-favorites/{{mod.username}}/{{img}}" target="_blank">
                <img src="/mod-favorites/{{mod.username}}/{{img}}" class="comicThumbImg thumb-image-big" style="max-height: 220px; align-self: center; padding: 5px;">
            </a>
            <p class="comicNameP" style="text-align: center; font-weight: 400;">{{img.substring(0, img.indexOf('.jpg'))}}</p>
        </div>
    </div>    
    <br/>

    <h3 style="font-weight: bold; text-align: center;">Comic ratings</h3>

    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div ng-repeat="comic in mod.comicVotes" class="thumbContainer">
            <a ng-href="/{{comic.name}}">
                <img src="/comics/{{comic.name}}/s.jpg" class="comicThumbImg thumb-image-big" style="width: 115px; align-self: center;">
            </a>
            <p class="comicNameP" style="text-align: center; font-weight: 400;">{{comic.name}}</p>
            <p class="comicNameP" style="text-align: center; font-size: 18px;">{{comic.rating}}</p>
        </div>
    </div>
    
<hr/>
</div>
<hr/>