<p class="theme-p" style="position: absolute; top: 0; right: 0;">
    <span class="link-color brightness-button" ng-click="setBrightColors(true)">Bright</span> | <span class="link-color brightness-button" ng-click="setBrightColors(false)">Dark</span>
</p>

<h1>Mod panel</h1>
<hr/>

<div style="padding-left: 20px;">

<h2>"Stats" for this mod panel</h2>
This captures everything done by the mods, fav image counts are 100% correct, but the tagged comics count is missing out on the first few days.
<div style="display: flex; flex-direction: row; align-items: center; height: 375px;">

    <div style="padding: 20px 20px 20px 0px;">
    <p class="mod-panel-mini-header">Tagged comic counts</p>
      <table>
        <tr ng-repeat="score in taggingHighScores">
          <td style="padding-right: 10px;">{{score.username}}</td>
          <td>{{score.count}}</td>
        </tr>
      </table>
    </div>

    <div style="padding: 20px">
    <p class="mod-panel-mini-header">Favorite images counts</p>
      <table>
        <tr ng-repeat="score in favImageHighscores">
          <td style="padding-right: 10px;">{{score.username}}</td>
          <td>{{score.count}}</td>
        </tr>
      </table>
    </div>

    <div style="padding: 20px">
    <a ng-href="/modIndex"><p style="font-size: 23px; font-weight: bold">Check 
    <span style="font-size:28px;">out</span> 
    <span style="font-size:31px;">the</span> 
    <span style="font-size:34px;">mod </span> 
    <span style="font-size:40px;">index!</p></a></span> 
    </div>
    
</div>

<hr/>

<h2>Approving tag suggestions<span ng-show="showApprovalMessage"><p style="font-style: italic; background-color: {{approvalMessageColor}}">{{approvalMessage}}</p></span> </h2>

<table class="admin-table" style="margin: 0">
  <tr>
    <th>Comic Name</th>
    <th>Suggested keyword</th>
    <th>Action</th>
  </tr>  
  <tr ng-repeat="keyword in suggestedKeywords">
    <td><a ng-href="/{{keyword.comicName}}" target="_blank">{{keyword.comicName}}</a></td>
    <td>{{keyword.extension ? 'ADD' : 'DELETE'}} <b>{{keyword.keyword}}</b></td>
    <td>
      <button ng-click="approveKeyword(keyword, true)" class="resize-button" style="background-color: #42773a">Approve suggestion ({{keyword.extension ? 'add the keyword' : 'delete the keyword'}})</button>
      <button ng-click="approveKeyword(keyword, false)" class="resize-button" style="background-color: #992b1d">Ignore suggestion (no action)</button>
    </td>
  </tr>
</table>


<hr/>
<h2>Tagging comics<span ng-show="showTagSentMessage"><p style="font-style: italic; background-color: {{tagSentMessageColor}}">{{tagSentMessage}}</p></span> </h2>

<p class="rainbow2" style="font-size: 20px; font-family: consolas">Guys, go add some favorite pics too!! (below, "Uploading favorite images")</p>


<div style="display: flex; flex-direction: row; flex-flow: center;">

    <div style="padding: 20px 20px 20px 0px">
        <p class="mod-panel-mini-header">Comic to tag</p>
        <button ng-click="showUntaggedComics()" class="resize-button">Show only untagged comics</button><br/>
        <button ng-click="showAllComics()" class="resize-button">Show all comics</button>
        <select ng-model="selectedComic" ng-options="comic for comic in comicNames"></select>
        <br/><br/>
        <a ng-href="/{{selectedComic}}" target="_blank">Go to comic</a>

        <br/><br/>

        Most common tags, have you checked?
        <br/>- Anthro/feral
        <br/>- Species
        <br/>- Group
        <br/>- Outside
        <br/>- Anal/vaginal/BJ
        <br/>- Feral penis
    </div>

    <div style="padding: 20px; min-width: 140px;">
        <p class="mod-panel-mini-header">Tags to add</p>
        <select ng-keypress="keyPressed($event)" ng-model="selectedTag" ng-options="tg for tg in allTags" size="15" style="width: 100%;"></select>
        <br/>    
        <button ng-click="addTag(selectedTag)" class="resize-button" style="width: 100%; height: 50px; background-color: #356172">Add</p></button>
    </div>

    <div style="padding: 20px">
        <p class="mod-panel-mini-header">Tags you're adding</p>
        <span ng-show="addedTags.length > 0">Click to remove</span>
        <ul style="margin-top: 20px;">
            <li ng-repeat="tag in addedTags" ng-click="removeTag(tag)" style="list-style-type: none; cursor: pointer;"><p style="font-weight: bold">{{tag}}</p></li>
        </ul>
        
        <button ng-click="sendTags()" ng-show="addedTags.length > 0 && selectedComic" class="resize-button" style="width: 100%; height: 50px; background-color: #42773a; margin-top: 40px;">Send</p></button>
    </div>

    <div style="padding: 20px">
        <p class="mod-panel-mini-header">Already added tags</p>
        <span ng-show="selectedComicTags.length > 0">Click to remove</span>
        <ul style="margin-top: 20px;">
            <li ng-repeat="tag in selectedComicTags" ng-click="toggleTagToTagsToDeleteList(tag)" ng-style="tagsToDelete.indexOf(tag) > -1 ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'}" style="list-style-type: none;"><p>{{tag}}</p></li>
        </ul>
        <button ng-click="sendTagsToDelete()" ng-show="tagsToDelete.length > 0" class="resize-button" style="width: 100%; height: 50px; background-color: #992b1d; margin-top: 40px;">Delete</p></button>
    </div>


    <div style="padding: 20px; width: 250px;">
        <p class="mod-panel-mini-header">Tag dictionary</p>
        <p ng-show="selectedTag" style="font-weight: bold">{{selectedTag}}</p>
        <p ng-show="selectedTag">{{getSelectedTagDescription()}}        
    </div>

    <div style="padding: 20px; max-width: 300px; ">
        <p class="mod-panel-mini-header">Hot tips</p>
        In the first two lists, click any element and begin typing a name/tag to search for it, like any normal dropdown anywhere. <br/>In the "tags to add" list, you can press enter when having a tag selected, which will do the same as pressing the blue "Add". <br/>Use the two "tips" above to speed up the tagging-adding.
    </div>


</div>
<br/>

<div style="border: 1px solid red; padding: 2px;">
<b>Here are some things that are commonly forgotten:</b>
<ul style=" list-style-type: none;">
  <li><u>Always</u> tag the name for any pokemon, digimon, pony, etc!</li>
  <li>- Every comic should be either anthro, feral, or both!</li>
  <li>- When adding a species like <i>cat</i>, <i>horse</i>, <i>pony</i>, <i>dog</i>, be sure to also include the family, in these cases <i>feline</i>, <i>equine</i>, <i>equine</i>, <i>canine</i></li>
  <li>- Consider adding <i>story</i> or <i>long story</i> tags if there's a story to the comic</li>
  <li>- <i>Size difference</i> is often forgotten</li>
  <li>- There's no need for a <i>MLP</i> or <i>my little pony</i> tag, as that's already in the category feature along with furry, pokemon, etc</li>
</ul>
</div>

<br/>
Other notes: Tag characters that are recognizable. Examples: Fox McCloud, Falco Lombardi, etc; Bowser, Isabelle from Animal Farm, Kindred from League of Legends... any pokemon. The main ponies from MLP. Basically just don't tag OCs.<br/>
If you're not certain whether a tag should be there or not, e621's tagging system is great for guidance. Remember, however, that we don't want to be as detailed in the tagging as e621. Common tags over there like "clothing", "paws", "solo", "butt" aren't needed here. Also, looking at already tagged comics might help. The first comics alphabetically are all tagged.

<br/><br/><b>In the end, our <i>only</i> goal is to help users find what they want!</b> So if you're wondering if something should be tagged as X or not, think along the lines of "if I were a user looking for comics with X in them, would I want this comic to appear in the list?"

<br/><br/>If you have any questions, just ask in the Discord chat! I promise I'll never be angry with anyone for asking questions!
<hr/>


<h2>Creating tags<p ng-show="showNewTagSentMessage" style="font-style: italic; background-color: {{newTagSentMessageColor}}">{{newTagSentMessage}}</p> </h2>
<div style="display: flex; flex-direction: row; align-items: center;">
    <div style="padding: 20px 20px 20px 0px; max-width: 40%">
        You may add a new tag, but please take a moment to think through this. Being accurate is good, but being obsessive about detail is not! Example: the tag "sex toy" is enough. There is no need for "vibrator", "dildo", "strap-on". We're dealing with comics, not an image database (in which details are good, due to a much bigger selection) That said, there are definitely many, <i>many</i> tags not in the list, so don't be afraid to add new ones. Better having too many than too few, so add away!
    </div>
    <div style="padding: 20px">
        Tag name, fully lowercase <br/>
        <input type="text" ng-model="newTagName"/>
        <br/>
        <br/>
        Description (optional, only if needed for clarification) <br/>
        <textarea ng-model="newTagDescription" style="width: 100%"> </textarea>
    </div>

    <div style="padding: 20px">
        <button ng-click="sendNewTag()" class="resize-button" style="width: 80px; height: 50px; background-color: #42773a;">Send</p></button>
    </div>
</div>
<hr/>


<h2>Uploading favorite images</h2>
<div style="display: flex; flex-direction: row; align-items: center;">
    <div style="padding: 20px 20px 20px 0px; max-width: 30%">
        Here you can upload your favorite images by each artist! You only get one pic per artist, uploading a second image on the same artist will overwrite the first. Note: only works with static images, <i>no gifs</i>. Also, don't choose an image that is a part of a comic.

        <br/><br/>
        Protip: if you don't have an image in mind, select an artist, use the "go to /artist/X", follow the e621 link and find your favorite there.
    </div>

    <div style="padding: 20px; max-width: 220px;">
        Select the artist you'd like to add a favorite image to:
        <br/>
        <select ng-model="selectedUploadArtist" ng-options="artist.name for artist in allArtists" size="10" style="width: 100%;"></select>
    </div>


    <div style="padding: 20px; width: 200px;">
        <a ng-href="/artist/{{selectedUploadArtist.name}}" ng-show="selectedUploadArtist" target="_blank">Go to /artist/{{selectedUploadArtist.name}}</a>
        <br/><br/><br/>
        Select your image:
        <br/>
        <form>
            <div class="button resize-button" ngf-select ng-model="uploadImageFile" name="uploadImageFile" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="50MB">Select file</div>
        </form>
    </div>

    <div style="padding: 20px">
        <button ng-show="uploadImageFile && selectedUploadArtist" type="submit" ng-click="uploadImage()" class="resize-button" style="max-width: 300px; height: 50px; background-color: #42773a;">
            Submit {{uploadImageFile.name}}
        </button>    
    </div> 

    <div style="padding: 20px">
        <p>{{uploadResponseMessage}}</p>
    </div>
</div>

<hr/>


<h2>Correct a comic</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
    <div style="padding: 20px 20px 20px 0px;">
        Comic to correct: 
        <select ng-model="selectedCorrectComic" ng-options="comic for comic in comicNames"></select>
        <br/>
        Category: 
        <select ng-model="correctComicTag" ng-options="tag for tag in ['Furry', 'MLP', 'Pokemon', 'Warcraft', 'Other']"></select>
        <br/>
        Tag: 
        <select ng-model="correctComicCat" ng-options="cat for cat in ['M', 'F', 'MF', 'MM', 'FF', 'MF+', 'I']"></select>
        <br/><br/>

        <button ng-show="correctComicCat && correctComicTag && selectedCorrectComic" type="submit" ng-click="correctComic()" class="resize-button" style="max-width: 300px; height: 50px; background-color: #42773a;">Send</button>

        <br/>
        <p ng-show="correctComicResponseMessage">{{correctComicResponseMessage}}</p>
    </div>
</div>

<hr/>



<h2>Your favorite images</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
    <button ng-click="showFavImages = !showFavImages" class="resize-button" style="height: 50px; background-color: #42773a;">
      Show/hide images
    </button><br/>

    <div ng-repeat="favImg in favoriteImages" style="padding: 15px;" ng-show="showFavImages">
        {{favImg}}<br/>
        <img src="/mod-favorites/{{username}}/{{favImg}}.jpg" style="max-height: 180px;">
    </div>
</div>

<hr/>



<h2>Adding comics</h2>
<p>{{uploadComicImageResponseMessage}}</p>
<p style="font-style: italic; text-align: center;">Sorry mods, for now this is only available to the admin. Maybe some day though...</p><br/>
<div style="display: flex; flex-direction: row;">
    <div style="padding: 20px;">
        <p class="mod-panel-mini-header">Add the comic</p>
        Name
        <select ng-model="newComicName" ng-options="c for c in comicNamesNotInDatabase"></select>

        <br/>Artist
        <select ng-model="newComicArtist" ng-options="artist.name for artist in allArtists"></select>

        <br/>Tag
        <select ng-model="newComicTag" ng-options="tag for tag in validComicTags"></select>
        
        <br/>Cat
        <select ng-model="newComicCat" ng-options="catt for catt in ['M', 'F', 'MF', 'MM', 'MF', 'MF+', 'FF', 'I']"></select>

        <br/>Finished
        <select ng-model="newComicFinished" ng-options="fin for fin in [1, 0]" ng-init="newComicFinished = 1"></select>

        <br/><br/>
        <button type="submit" ng-click="addComic()" class="resize-button" style="max-width: 300px; height: 50px; background-color: #42773a;"> Add comic </button>    
    </div>


    <div style="padding: 20px; width: 200px;">
        <p class="mod-panel-mini-header">Add artist</p>
        <input type="text" ng-model="newArtistName"/> <br/><br/>
        <button type="submit" ng-click="addArtist()" class="resize-button" style="max-width: 300px; height: 50px; background-color: #42773a;"> Add artist </button>    
    </div>

    <div style="padding: 20px;">
        <p class="mod-panel-mini-header">Add artist links</p>
        Artist <select ng-model="linkArtist" ng-options="artist.name for artist in allArtists"></select>

        <br/>Links<br/>
        <input type="text" style="width: 320px" ng-model="link1" placeholder="e621" /><br/>
        <input type="text" style="width: 320px" ng-model="link2"/><br/>
        <input type="text" style="width: 320px" ng-model="link3"/><br/>
        <input type="text" style="width: 320px" ng-model="link4"/><br/>
        <input type="text" style="width: 320px" ng-model="link5"/><br/>
        <input type="text" style="width: 320px" ng-model="link6"/><br/>
        <input type="text" style="width: 320px" ng-model="link7"/><br/><br/>

        <button type="submit" ng-click="addArtistLinks()" class="resize-button" style="max-width: 300px; height: 50px; background-color: #42773a;"> Add links </button>  
    </div>
</div>

<hr/>



<h2>Adding images to comics</h2>
<p style="font-style: italic; text-align: center;">Sorry mods, for now this is only available to the admin. Maybe some day though...</p><br/>

<div style="display: flex; flex-direction: row; align-items: center;">
    <div style="padding: 20px 20px 20px 0px">
        <p class="mod-panel-mini-header">Comic to add to</p>
        <select ng-model="selectedComicToAddImagesTo" ng-options="comic for comic in comicNames"></select>
    </div>


    <div style="padding: 20px; width: 200px;">
        Select image:
        <br/>
        <form>
            <div class="button resize-button" ngf-select ng-model="uploadComicImageFile" name="uploadComicImageFile" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB">Select file</div>
        </form>
    </div>

    <div style="padding: 20px">
        <button ng-show="uploadComicImageFile && selectedComicToAddImagesTo" type="submit" ng-click="uploadAddImageToComic()" class="resize-button" style="max-width: 300px; height: 50px; background-color: #42773a;">
            Submit {{uploadComicImageFile.name}}
        </button>    
    </div> 

    <div style="padding: 20px">
        <p>{{uploadComicImageResponseMessage}}</p>
    </div>
</div>

<div style="padding: 20px 20px 20px 0px">
    <p class="mod-panel-mini-header">Unfinished comics</p>
    <span ng-repeat="ufc in unfinishedComicList track by $index" style="font-size: 12px; float: left;"><a ng-href="/{{ufc}}" target="_blank">{{ufc}}</a>, &nbsp;&nbsp;</p>
</div>
<br/>

</div>