<p class="theme-p" style="position: absolute; top: 0; right: 0;">
    <span class="link-color brightness-button" ng-click="setBrightColors(true)">Bright</span> | <span class="link-color brightness-button" ng-click="setBrightColors(false)">Dark</span>
</p>

<!-- <div class="full-page-padding"> -->
<div class="mod-panel-wrapper">

<h1>Mod panel</h1>

<p ng-show="!modOrAdmin" class="text-align-center">You must log in :)</p>
<p ng-show="!modOrAdmin" style="font-size: 16px; color: #00bbff; text-align: center; margin-top: 10px;"><a ng-href="/">&larr; back to index</a></p>

<div ng-show="modOrAdmin == 'mod' || modOrAdmin == 'admin'">
	<hr/>
	<h2>Tag suggestions</h2>
	<p ng-show="responseMessages.kwSuggestions.visible" ng-class="{'mod-panel-error': responseMessages.kwSuggestions.error, 'mod-panel-success': !responseMessages.kwSuggestions.error}">{{responseMessages.kwSuggestions.message}}</p>

	<div class="mod-panel-flexbox centered-flex">
		<table class="mod-panel-table">
			<tr>
				<th>Comic Name</th>
				<th>Suggested Keyword</th>
				<th>Suggester</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="suggestedKeyword in suggestedKeywords">
				<td> <a ng-href="/{{suggestedKeyword.ComicName}}" target="_blank">{{suggestedKeyword.ComicName}}</a> </td>
				<td> {{suggestedKeyword.Extension ? 'ADD' : 'DELETE'}} <b>{{suggestedKeyword.Keyword}}</b> </td>
				<td> {{suggestedKeyword.User}} </td>
				<td> 
					<button ng-click="respondToKeywordSuggestion(suggestedKeyword.Keyword, suggestedKeyword.ComicId, true, suggestedKeyword.Extension)" class="button-green">
						Approve suggestion ({{suggestedKeyword.Extension ? 'add the keyword' : 'delete the keyword'}})
					</button> 
					<button ng-click="respondToKeywordSuggestion(suggestedKeyword.Keyword, suggestedKeyword.ComicId, false, suggestedKeyword.Extension)" class="button-red">
						Reject suggestion
					</button> 
				</td>
			</tr>
		</table>
	</div>


	<hr/>
	<h2>Add pages</h2>
	<p ng-show="responseMessages.newComicPage.visible" ng-class="{'mod-panel-error': responseMessages.newComicPage.error, 'mod-panel-success': !responseMessages.newComicPage.error}">{{responseMessages.newComicPage.message}}</p>

	<p class="text-align-center">Image file may have any name and must be .png or .jpg</p><br/>
	<div class="mod-panel-flexbox centered-flex">

		<div class="mod-panel-flexbox-small-horizontal">
			<p>Select comic&nbsp;</p>
			<select ng-model="newComicPage.comic" ng-options="comic.name for comic in allComicsList"></select>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<form>
				<button ngf-select ng-model="newComicPage.file" name="uploadNewPageFile" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB" class="button-neutral">Select file</button>
			</form>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<button ng-show="newComicPage.file && newComicPage.comic" ng-click="uploadNewPage(newComicPage.comic, newComicPage.file)" class="button-green">
				Submit {{newComicPage.file.name}}
			</button>
		</div>
		<p ng-show="newComicPage.uploadProgress">Upload progress: {{newComicPage.uploadProgress}}%</p>
	</div>
	<br/>
	<p class="text-align-center">All unfinished comics (<span ng-click="showWipComics = !showWipComics" class="link-color">show/hide</span>)</p>
	<p ng-show="showWipComics" class="text-align-center"><a ng-repeat="wipComic in wipComicsList" ng-href="/{{wipComic.name}}" target="_blank">{{wipComic.name}}&nbsp;&nbsp;&nbsp;</a></p>


	<hr/>
	<h2>Add comic keywords</h2>
	<p ng-show="responseMessages.addKeywords.visible" ng-class="{'mod-panel-error': responseMessages.addKeywords.error, 'mod-panel-success': !responseMessages.addKeywords.error}">{{responseMessages.addKeywords.message}}</p>

	<div class="mod-panel-flexbox centered-flex" style="align-items: flex-start;">
		<div class="mod-panel-flexbox-small-vertical">
			<p class="mod-panel-small-header">Select comic</p>
			<select ng-model="keywordAdding.comic" ng-options="comic.name for comic in allComicsList"></select>
			<a ng-href="/{{keywordAdding.comic.name}}" target="_blank" ng-show="keywordAdding.comic">Go to comic</a>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<p class="mod-panel-small-header">Keyword list</p>
			<select ng-model="currentlySelectedKeyword" ng-keypress="keywordKeyPressed($event)" ng-options="keyword for keyword in allKeywordsList" size="15"></select>
			<button ng-click="addSelectedKeyword(currentlySelectedKeyword)" class="button-neutral" style="width: 100%">&rarr;</button>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<p class="mod-panel-small-header">Keywords you're adding</p>
			<p ng-show="keywordAdding.keywordsToAdd.length > 0">Click a kw to remove</p>
			<br/>
			<ul>
				<li ng-repeat="keyword in keywordAdding.keywordsToAdd" ng-click="removeKeywordFromAddList(keyword)" class="cursor-pointer">{{keyword}}</li>
			</ul>

			<br/>
			<button ng-click="sendAddedKeywords()" ng-show="keywordAdding.keywordsToAdd.length > 0" class="button-green">Add keywords</button>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<p class="mod-panel-small-header">Keywords already added</p>
			<p ng-show="keywordAdding.existingKeywords.length > 0">Click a kw to delete</p>

			<br/>
			<ul>
				<li ng-repeat="keyword in keywordAdding.existingKeywords" ng-click="toggleKeywordDeletion(keyword)" class="cursor-pointer" ng-style="(keywordAdding.keywordsToDelete.indexOf(keyword) >= 0) ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'}">{{keyword}}</li>
			</ul>

			<br/>
			<button ng-click="sendDeleteKeywords()" ng-show="keywordAdding.keywordsToDelete.length > 0" class="button-red">Delete keywords</button>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
		</div>
	</div>


	<hr/>
	<h2>Add keyword</h2>
	<p ng-show="responseMessages.createKeyword.visible" ng-class="{'mod-panel-error': responseMessages.createKeyword.error, 'mod-panel-success': !responseMessages.createKeyword.error}">{{responseMessages.createKeyword.message}}</p>

	<div class="mod-panel-flexbox centered-flex">
		<div class="mod-panel-flexbox-small-horizontal">
			<p>New keyword name</p> &nbsp;
			<input type="text" ng-model="newKeywordName"/>
		</div>
		<div class="mod-panel-flexbox-small-horizontal">
			<button ng-click="createKeyword(newKeywordName.toLowerCase())" class="button-green">Send</button>
		</div>
	</div>


	<hr/>
	<h2>Correct a comic</h2>
	<p ng-show="responseMessages.correctComic.visible" ng-class="{'mod-panel-error': responseMessages.correctComic.error, 'mod-panel-success': !responseMessages.correctComic.error}">{{responseMessages.correctComic.message}}</p>

	<div class="mod-panel-flexbox centered-flex">
		<div class="mod-panel-flexbox-small-vertical">
			Select comic 
			<select ng-model="correctComic.comic" ng-options="comic.name for comic in allComicsList"></select>
			<a ng-href="/{{correctComic.comic.name}}" target="_blank" ng-show="correctComic.comic">Go to comic</a>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<div class="mod-panel-flexbox-small-horizontal">
				Artist &nbsp;<select ng-model="correctComic.artist" ng-options="artist.Name for artist in allArtistsList"></select> <br/>
			</div>
			<div class="mod-panel-flexbox-small-horizontal">
				Tag &nbsp;<select ng-model="correctComic.tag" ng-options="x for x in ['Furry', 'MLP', 'Pokemon', 'Warcraft', 'Other']"></select> <br/>
			</div>
			<div class="mod-panel-flexbox-small-horizontal">
				Cat &nbsp;<select ng-model="correctComic.cat" ng-options="x for x in ['M', 'F', 'MM', 'MF', 'FF', 'MF+', 'I']"></select> <br/>
			</div>
			<div class="mod-panel-flexbox-small-horizontal">
				Finished &nbsp;<select ng-model="correctComic.finished" ng-options="x for x in [1, 0]"></select>
			</div>

		</div>

		<button ng-click="sendCorrectComic()" class="button-green">Send</button>
	</div>


	<hr/>
	<h2>Adding a comic</h2>
	<p ng-show="responseMessages.addComic.visible" ng-class="{'mod-panel-error': responseMessages.addComic.error, 'mod-panel-success': !responseMessages.addComic.error}">{{responseMessages.addComic.message}}</p>
	<ul class="full-page-less-padding" style="list-style-type: none;">
		<li style="margin-bottom: 4px;">- A script for downloading imgur albums and e621 pools exists in the discord server with instructions.</li>
		<li style="margin-bottom: 4px;">- Files must be either .png or .jpg. The filenames must be ordered, but do not have to be the actual page numbers (eg 'a.jpg', 'b.jpg' works). </li>
		<li style="margin-bottom: 4px;">- If the filenames are numbers, they must be prepended with zeros ('01.jpg' if less than 100 pages, '001.jpg' if more), since javascript believes '2'>'10' (etc)</li>
		<li style="margin-bottom: 4px;">- Adding a thumbnail is optional, but appreciated &hearts; (admin will do it if you don't). Thumbnails are precisely 354x500 pixels, have filename 's.jpg', and <u>must</u> be .jpg. Should include the comic title if the comic has a cover page. If no cover page, choose an image that represents the comic well (but preferably not too lewd, though sometimes this is unavoidable). Usually the first page works for this. Does not have to be the full page (often it should not). GIMP is great software for making thumbnails!</li>
	</ul>
	<br/>

	<div class="mod-panel-flexbox centered-flex">
		<div class="mod-panel-flexbox-small-vertical">
			<div class="mod-panel-flexbox-small-horizontal">
				Comic Name&nbsp; <input type="text" ng-model="newComic.name"/>
			</div>
			<div class="mod-panel-flexbox-small-horizontal">
				Artist&nbsp; <select ng-model="newComic.artist" ng-options="artist.Name for artist in allArtistsList"></select>
			</div>
			<div class="mod-panel-flexbox-small-horizontal">
				Tag&nbsp; <select ng-model="newComic.tag" ng-options="x for x in ['Furry', 'MLP', 'Pokemon', 'Warcraft', 'Other']"></select>
			</div>
			<div class="mod-panel-flexbox-small-horizontal">
				Cat&nbsp; <select ng-model="newComic.cat" ng-options="x for x in ['M', 'F', 'MM', 'MF', 'FF', 'MF+', 'I']"></select>
			</div>
			<div class="mod-panel-flexbox-small-horizontal">
				Finished&nbsp; <select ng-model="newComic.finished" ng-options="x for x in [1, 0]"></select>
			</div>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<button ngf-select=selectUploadFiles($files) multiple accept="image/*" class="button-neutral">Select files</button>
		</div>
		<div class="mod-panel-flexbox-small-vertical">
			<button ng-click="uploadNewComicImages()" ng-show="newComicFiles.length > 0" class="button-green">Add comic!</button>
		</div>
  </div>
  <br ng-show="newComicFiles.length > 0 || newComicUploadProgress != undefined"/>
	<p ng-show="newComicFiles.length > 0" class="text-align-center">Files: <span ng-repeat="f in newComicFiles">{{f.name}} </span></p>
	<p ng-show="newComicUploadProgress != undefined" class="text-align-center">Upload progress: {{newComicUploadProgress}}%</p>

	<br/>
  <p class="text-align-center">Previously added and rejected comics (<span class="link-color" ng-click="showComicApprovalHistory = !showComicApprovalHistory">show/hide</span>)</p>
	<div class="mod-panel-flexbox centered-flex">
	  <table ng-show="showComicApprovalHistory"> 
	    <tr>
	      <th>Comic name</th>
	      <th>Approved</th>
	      <th>Comment</th>
	    </tr>
	    <tr ng-repeat="comic in processedComics">
	      <td><a ng-href="/pendingComics/{{comic.Name}}" target="_blank">{{comic.Name}}</a></td>
	      <td>{{comic.Approved ? 'Yes' : 'No'}}</td>
	      <td>{{comic.Comment || ''}}</td>
	    </tr>
	  </table>
	</div>


	<hr/>
  <h2>Add an artist</h2>
  <p ng-show="responseMessages.addArtist.visible" ng-class="{'mod-panel-error': responseMessages.addArtist.error, 'mod-panel-success': !responseMessages.addArtist.error}">{{responseMessages.addArtist.message}}</p>

  <div class="mod-panel-flexbox centered-flex">
  	<div class="mod-panel-flexbox-small-horizontal centered-flex">
	    Artist name&nbsp; <input type="text" ng-model="newArtistName"/>
  	</div>
  	<div class="mod-panel-flexbox-small-horizontal centered-flex">
	    <button ng-click="sendAddArtist(newArtistName)" class="button-green">Send</button>
  	</div>
  </div>


	<hr/>
  <h2>Adding artist links</h2>
  <p ng-show="responseMessages.addArtistLinks.visible" ng-class="{'mod-panel-error': responseMessages.addArtistLinks.error, 'mod-panel-success': !responseMessages.addArtistLinks.error}">{{responseMessages.addArtistLinks.message}}</p>
  <p class="text-align-center">Please make sure http(s):// is include. For e621 links, add order:score (eg https://e621.net/post/index/1/adam_wan%20order:score)</p>

  <div class="mod-panel-flexbox centered-flex">
		<div class="mod-panel-flexbox-small-horizontal centered-flex">
	    <p>Artist</p>&nbsp; 
	    <select ng-model="addArtistLinks.artist" ng-options="artist.Name for artist in allArtistsList"></select>    
	  </div>
	  <br/>
  	<div class="mod-panel-flexbox-small-vertical centered-flex">
	    <p class="text-align-center">Add links</p> 
	    <input ng-repeat="linkNumber in addArtistLinks.links track by $index" ng-model="addArtistLinks.links[$index]" style="width: 350px;" />
	  </div>
    <br/>
  	<div class="mod-panel-flexbox-small-vertical centered-flex">
	    <button class="button-green" ng-click="sendAddArtistLinks()">Send</button>
	  </div>
  </div>


	<hr/>
  <h2>Adding artist favorite images</h2>
  <p ng-show="responseMessages.addModFavImage.visible" ng-class="{'mod-panel-error': responseMessages.addModFavImage.error, 'mod-panel-success': !responseMessages.addModFavImage.error}">{{responseMessages.addModFavImage.message}}</p>

	<div class="mod-panel-flexbox centered-flex">
		<div class="mod-panel-flexbox-small-vertical">
			<div class="mod-panel-flexbox-small-horizontal" style="margin-left: 0">
				Artist&nbsp; <select ng-model="modFavImage.artist" ng-options="artist.Name for artist in allArtistsList"></select>
			</div>
			<p><a ng-href="/artist/{{modFavImage.artist.Name}}" target="_blank">Go to artist</a></p>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<form>
				<div ngf-select ng-model="modFavImage.file" name="uploadModFavImage" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB" class="button-neutral">Select file</div>
			</form>
		</div>

		<div class="mod-panel-flexbox-small-vertical">
			<button ng-click="sendModFavImage()" class="button-green">Send {{modFavImage.file.name}}</button>
		</div>
		<div class="mod-panel-flexbox-small-vertical">
			<p ng-show="modFavImage.uploadProgress">Upload progress: {{modFavImage.uploadProgress}}%</p>
		</div>
	</div>

</div>

<div ng-show="modOrAdmin == 'admin'">
	<hr/>
  <h2>Approving suggested comics</h2>
  <p ng-show="responseMessages.approveComic.visible" ng-class="{'mod-panel-error': responseMessages.approveComic.error, 'mod-panel-success': !responseMessages.approveComic.error}">{{responseMessages.approveComic.message}}</p>
  
	<div class="mod-panel-flexbox centered-flex">
	  <table class="table-with-grid">
	    <tr>
	      <th>Comic name</th>
	      <th>Mod name</th>
	      <th>Artist</th>
	      <th>Cat</th>
	      <th>Tag</th>
	      <th>Finished</th>
	      <th>Added time</th>
	      <th>Comment</th>
	      <th>Approve?</th>
	    </tr>
	    <tr ng-repeat="comic in pendingComics">
	      <td><a ng-href="/pendingComics/{{comic.Name}}" target="_blank">{{comic.Name}}</a></td>
	      <td>{{comic.ModName}}</td>
	      <td><a ng-href="/artist/{{comic.ArtistName}}" target="_blank">{{comic.ArtistName}}</a></td>
	      <td>{{comic.Cat}}</td>
	      <td>{{comic.Tag}}</td>
	      <td>{{comic.Finished}}</td>
	      <td>{{comic.Timestamp}}</td>
	      <td><input type="text" ng-model="judgeComicComment"/></td>
	      <td>
	        <button ng-click="approveComic(comic, true, judgeComicComment)" class="button-green">Approve</button>
	        <button ng-click="approveComic(comic, false, judgeComicComment)" class="button-red">Reject</button>
	      </td>
	    </tr>
	  </table>
	</div>

  
	<hr/>
  <h2>Re-zip and recalculate number of pages</h2>
  <p ng-show="responseMessages.reZipComic.visible" ng-class="{'mod-panel-error': responseMessages.reZipComic.error, 'mod-panel-success': !responseMessages.reZipComic.error}">{{responseMessages.reZipComic.message}}</p>

	<div class="mod-panel-flexbox centered-flex">
		<div class="mod-panel-flexbox-small-vertical">
		  <select ng-model="reZipComic" ng-options="comic.name for comic in allComicsList"></select>
		</div>
		<div class="mod-panel-flexbox-small-vertical">
		  <button ng-click="sendReZipComic(reZipComic)" class="button-green">Send</button>
		</div>
	</div>

</div>

</div>