<h1>Stats</h1>

<table class="statsTable" style="margin-top: 40px; text-align: center;">
  <tr>
    <th>Tag</th>
    <th>Avg rating</th>
    <th># comics</th>
  </tr>
  <tr ng-repeat="(tag, tagData) in tagStats">
    <td>{{tag}}</td>
    <td>{{roundTwoDecimals(tagData.AvgRating)}}</td>
    <td>{{tagData.NumberOfComics}}</td>
  </tr>
</table>

<table class="statsTable" style="margin-top: 10px; text-align: center;">
  <tr>
    <th>Cat</th>
    <th>Avg rating</th>
    <th># comics</th>
  </tr>
  <tr ng-repeat="(cat, catData) in catStats">
    <td>{{cat}}</td>
    <td>{{roundTwoDecimals(catData.AvgRating)}}</td>
    <td>{{catData.NumberOfComics}}</td>
  </tr>
</table>

<table class="statsTable" style="margin-top: 40px; text-align: center;">
  <tr>
    <th>Name</th>
    <th ng-click="sortComicData('AvgRating')">Avg Rating</th>
    <th ng-click="sortComicData('NumberVotes')"># votes</th>
    <th ng-click="sortComicData('Created')">Date added</th>
    <th>Cat</th>
    <th>Tag</th>
  </tr>

  <tr ng-repeat="comic in allComicData">
    <td>{{comic.Name}}</td>
    <td>{{comic.AvgRating}}</td>
    <td>{{comic.NumberVotes}}</td>
    <td>{{prettyDate(comic.Created)}}</td>
    <td>{{comic.Cat}}</td>
    <td>{{comic.Tag}}</td>
  </tr>
</table>